{% extends "base.html" %}

{% block bar %}
      <div class="col-md-9" style=  "justify-content: flex-end;">
            <h1 class="page-header">影像识别</h1>
        <div class="panel panel-primary">
                <!-- Default panel contents -->
        <div class="panel-heading">上传眼科影像并识别病变体征<i class="fa fa-thumb-tack pull-right"></i></div>
            <div  class="panel-body">
                 <!-
            </div>
      </div>
{% endblock %}


{% block main %}
    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        {{form.as_p}}
   <p>
        <button type="submit" class="btn">识别</button>
    </p>
    </form>
        <p>上传图片为： {{photo.name}}</p>
        <img src = "/uploads/{{photo.name}}", height="200", width="200" />
        <p>识别结果：{{labels}}</p>
{% if messages %}
<script>
    {% for msg in messages %}
        alert('{{ msg.message }}');
    {% endfor %}
</script>
{% endif %}
{% endblock %}