{% extends "base.html" %}

{% block bar %}
      <div class="col-md-9" style=  "justify-content: flex-end;">
            <h1 class="page-header">欢迎使用</h1>
        <div class="panel panel-primary">
                <!-- Default panel contents -->
        <div class="panel-heading">眼科影像病变体征识别系统<i class="fa fa-thumb-tack pull-right"></i></div>
            <div  class="panel-body">
                 <!-
            </div>
      </div>
{% endblock %}



{% block main %}
<p>当前登录用户： {{user_name}}</p>
{% if messages %}
<script>
    {% for msg in messages %}
        alert('{{ msg.message }}');
    {% endfor %}
</script>
{% endif %}
{% endblock %}