<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="font-size: 24px;margin-top: 10px;margin-bottom: 10px;">Deep Learning</a>
        </div>

        <div id="navbar-collapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/pred/index/" class="btn btn-lg"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
                <li><a href="/pred/compute/" class="btn btn-lg"><span class="glyphicon glyphicon-cloud"></span> 影像识别</a>
                </li>
                <li><a href="/pred/history_list/" class="btn btn-lg"><span class="glyphicon glyphicon-record"></span>
                    历史记录</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/pred/change_passwd/" class="btn btn-lg"><span class="glyphicon glyphicon-user"></span>
                    修改密码</a></li>
                <li><a href="/pred/logout" class="btn btn-lg"><span class="glyphicon glyphicon-log-out"></span> 注销</a>
                </li>
            </ul>
        </div>
    </div>
</nav>